<!DOCTYPE html>
<html lang="pl-PL">
  <head>
    <meta charset="UTF-8">
    <title>Python Flask App</title>
    
    <script src="../static/js/jquery-1.12.3.min.js"></script>
    <script type="text/javascript">
    $(function() {
        $('#btnLogin').click(function() {
     
            $.ajax({
                url: '/logowanie',
                data: $('form').serialize(),
                type: 'POST',
                success: function(response) {
                    console.log(response);
                },
                error: function(error) {
                    console.log(error);
                }
            });
        });
    });
    </script>
    
  </head>
 
  <body>
      <div>
        <form action="/logowanie" method="post">
          <h1>Logowanie</h1>
              <label for="inputPesel">PESEL</label>
              <input type="text" maxlength="11" name="inputPesel" placeholder="PESEL" required autofocus>
              <label for="inputPassword">Password</label>
              <input type="password" name="inputPassword" placeholder="Hasło" required>
              
          <h2><button id="btnLogin" type="submit">Potwierdź logowanie</button></h2>
        </form>
      </div>
  </body>
</html>