<!DOCTYPE html>
<html lang="pl-PL">
  <head>
    <meta charset="UTF-8">
    <title>Python Flask App</title>
    
    <script src="../static/js/jquery-1.12.3.min.js"></script>
    <script type="text/javascript">
    $(function() {
        $('#btnRegister').click(function() {
     
            $.ajax({
                url: '/rejestracja',
                data: $('form').serialize(),
                type: 'POST',
                success: function(response) {
                    console.log(response);
                },
                error: function(error) {
                    console.log(error);
                }
            });
        });
    });
    </script>
    
  </head>
 
  <body>
      <div>
        <form action="/rejestracja" method="post">
            <h1>Rejestracja</h1>
                <label for="inputPesel">PESEL</label>
                <input type="text" maxlength="11" name="inputPesel" placeholder="PESEL" required autofocus>
                <label for="inputEmail">Email address</label>
                <input type="email" name="inputEmail" placeholder="E-mail" required>
                <label for="inputPassword">Password</label>
                <input type="text" name="inputPassword" placeholder="Hasło" required>
             
            <h2><button id="btnRegister" type="submit">Potwierdź rejestrację</button></h2>
        </form>
      </div>
  </body>
</html>